{% extends 'base.html.twig' %}

{% block title %}Edit Don{% endblock %}

{% block body %}

    <div class="container mt-5">
        <h1 class="text-center mb-4">Edit Don</h1>

        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card shadow bg-light rounded">
                    <div class="card-body">
                        {{ form_start(form) }}
                            {{ form_widget(form) }}
                            <button type="submit" class="btn btn-primary">{{ button_label }}</button>
                        {{ form_end(form) }}
                        <div class="text-center mt-3">
                            <a href="{{ path('app_don') }}" class="btn btn-secondary">Back to List</a>
                            {{ include('don/_delete_form.html.twig') }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
